<ion-header [translucent]="true">
  <!--title + menu + search bar -->
  <ion-toolbar>
    <ion-title slot="end">Job Posts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- EXAMPLE of 2 way databinding and ionInput event -->
    <!-- Had to use ionCancel workaround because ionClear cannot clear 2 way databinding-->
    <ion-searchbar show-cancel-button="focus" showClearButton="never" clearIcon="" [(ngModel)]="searchBarEntery"
      [debounce]="500" (ionCancel)="clearInput()" (ionInput)="searchJob()"></ion-searchbar>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">we are</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let job of jobData">
      <!--individual card code-->
      <ion-card-header (click)="toJobInfo(job)">
        <ion-card-title>{{job.jobTitle}}</ion-card-title> 
        <ion-card-subtitle>Expiration Date: {{job.expirationDate}}</ion-card-subtitle>
        <ion-card-subtitle>Location Eircode: {{job.locationName}}</ion-card-subtitle>
        <ion-card-subtitle>Salary: {{job.stringMaxWage}} {{job.currency}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>