<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/job-posts']">Back</ion-button>
    </ion-buttons>
    <ion-title>{{ jobInfo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ jobObj.jobTitle }}</ion-card-title>
      <ion-card-subtitle>
        Job Website <a target="_blank" rel="noopener noreferrer" style="margin-top: 0;" href={{jobObj.jobUrl}}>{{
          jobObj.employerName }}</a>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <strong class="capitalize center">Employer Name:&nbsp;</strong> {{ jobObj.employerName }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Employer Id:&nbsp;</strong> {{ jobObj.employerId }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Location (Eircode):&nbsp;</strong> {{ jobObj.locationName }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Salary Range:&nbsp;</strong> {{ jobObj.stringMinWage }} - {{ jobObj.stringMaxWage}} {{ jobObj.currency }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Start Date:&nbsp;</strong> {{ jobObj.date }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">End Date:&nbsp;</strong> {{ jobObj.expirationDate }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Applicants:&nbsp;</strong> {{ jobObj.applications }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center" style="margin-bottom: 0;">Job Description:</strong><br>
        </ion-item>

        <ion-item>
          <p id="container" style="overflow: visible" style="margin-top: 0;">{{ jobObj.jobDescription }}</p>
        </ion-item>

        <ion-item>
          <ion-button slot="end">
            <ion-icon name="archive" color="dark" aria-label="Archive" (click)="archiveJob()"></ion-icon>
          </ion-button>

          <ion-button slot="end">
            <ion-icon name="heart" style="color: red;" aria-label="Favorite" (click)="favouriteJob()"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button class="ion-textCenter" (click)="applyToJob()">Apply</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>