<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/job-posts']">Back</ion-button>
    </ion-buttons>
    <ion-title>{{ jobInfo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong class="capitalize center">Employer Name:</strong> {{ jobObj.employerName }}
  <br>
  <strong class="capitalize center">Employer Id:</strong> {{ jobObj.employerId }}
  <br>
  <strong class="capitalize center">Location (Eircode):</strong> {{ jobObj.locationName }}
  <br>
  <strong class="capitalize center">Salary Range:</strong> {{ jobObj.minimumSalary }} - {{ jobObj.maximumSalary }} {{ jobObj.currency }} 
  <br>
  <strong class="capitalize center">End Date:</strong> {{ jobObj.expirationDate }}
  <br>
  <strong class="capitalize center">Applicants:</strong> {{ jobObj.applications }}
  <br>
  <strong class="capitalize center">Job Description:</strong>
  <p id="container" style="overflow: visible">{{ jobObj.jobDescription }}</p>
  <br>
  <strong class="capitalize center">Apply Bellow:</strong>
  <p>Job Website <a target="_blank" rel="noopener noreferrer" href={{jobObj.jobUrl}}>{{ jobObj.employerName }}</a></p>
</ion-content>
