<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[backUrl]">Back</ion-button>
    </ion-buttons>
    <ion-title>{{ jobObj.jobTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ jobObj.jobTitle }}</ion-card-title>
      <ion-card-subtitle>
        Job Website <a target="_blank" rel="noopener noreferrer" style="margin-top: 0;" (click)="openCapacitorSite()">{{jobObj.employerName }}</a>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <strong class="capitalize center">Employer Name:&nbsp;</strong> {{ jobObj.employerName }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Employer Id:&nbsp;</strong> {{ jobObj.employerId }}
          <!-- copy btn for employer Id-->
          &nbsp;&nbsp;
          <ion-button color="translucent" (click)="writeToClipboard(jobObj.employerId)">
            <ion-icon name="copy-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Location (Eircode):&nbsp;</strong> {{ jobObj.locationName }}
           <!-- copy btn for eircode / location-->
           &nbsp;&nbsp;
           <ion-button color="translucent" (click)="writeToClipboard(jobObj.locationName)">
             <ion-icon name="copy-outline" color="dark"></ion-icon>
           </ion-button>
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Salary Range:&nbsp;</strong> {{ jobObj.stringMinWage }} - {{ jobObj.stringMaxWage}} {{ jobObj.currency }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Start Date:&nbsp;</strong> {{ jobObj.date }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">End Date:&nbsp;</strong> {{ jobObj.expirationDate }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center">Applicants:&nbsp;</strong> {{ jobObj.applications }}
        </ion-item>

        <ion-item>
          <strong class="capitalize center" style="margin-bottom: 0;">Job Description:</strong><br>
        </ion-item>

        <ion-item>
          <p id="container" style="overflow: visible" style="margin-top: 0;">{{ jobObj.jobDescription }}</p>
        </ion-item>

        <ion-item>
          <ion-button slot="end" color="dark" (click)="archiveJob()">
            <ion-icon name="{{archiveIcon}}" color="light" aria-label="Archive"></ion-icon>
          </ion-button>

          <ion-button slot="end" color="dark" (click)="favouriteJob()">
            <ion-icon name="{{favIcon}}" style="color: red;" aria-label="Favorite"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button class="ion-textCenter" id="alert" disabled="{{hasApplied}}" color="dark">{{applyBtnText}}</ion-button>
          <ion-alert 
            trigger="alert" 
            header="Are you sure you want to apply?"
            (didDismiss)="applyToJob($event)"
            [buttons]="alertButtons">
          </ion-alert>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>